body{
	padding:0px;
	margin:0px;
}
.navTable{
	border:none;
	width:100%
}
.navbar{
	vertical-align:top;
}
a.brand img{
	width:24px;
	height:24px;
	border:none;
}
td.menu_col{
	width:190px;
	vertical-align:top;
}
#operations_menu li{
	margin-left:0px;
	font-size:12px;
	line-height:16px;
}
td.content{
	vertical-align:top;
	padding-left:30px;
}
label.add-on{
	font-size:12px !important;
	display:inline-block !important;
	width:120px !important;
	text-align:left !important;
	text-indent:5px;
	margin-bottom:2px;

}
.input-prepend {
	margin-bottom:0px;
	line-height:16px;
}
.input-prepend input[type=checkbox]{
	margin-top : 9px;
	margin-left: 20px;
}
.input-prepend input[type=text],
.input-prepend input[type=password] {
	font-size : 12px !important;
	height    : 26px;
	width     : 346px;
	padding   : 1px 8px;
}
.input-prepend select {
	font-size:12px !important;
	line-height:16px;
	width: 364px;
	padding: 1px 8px;
}
.libraryitem {
	margin-left:5px;
	overflow:hidden;
	width:320px;
	height:40px;
	display:block;
	border: 1px solid #DDDDDD;
	vertical-align:middle;
	padding-top: 15px;
}
.libraryitem img{
	margin-right: 10px;
	margin-top: -4px;
	float:left;
	width:32px;
	height:32px;
}
.control-group{
	display:block;
}
.control-group textarea{
	width: 349px;
	height: 50px;
}
.pre-label{
	width:200px !important;
}

option.lang_ru{
	background-image  : url(http://api.korzhevdp.com/images/flag_ru.png);
	background-repeat : no-repeat;
	height: 32px;
	text-indent: 40px;
}
option.lang_de{
	background-image:url(http://api.korzhevdp.com/images/flag_de.png);
	background-repeat : no-repeat;
	height: 32px;
	text-indent: 40px;
}
option.lang_en{
	background-image:url(http://api.korzhevdp.com/images/flag_en.png);
	background-repeat : no-repeat;
	height: 32px;
	text-indent: 40px;
}
option.lang_es{
	background-image:url(http://api.korzhevdp.com/images/flag_es.png);
	background-repeat : no-repeat;
	height: 32px;
	text-indent: 40px;
}

#userTable input[type=text]{
	width : 70px !important;
}
ul.accessgroups {
	margin-left          : 0px;
	display: block;
	clear: both;
}
ul.accessgroups li {
	list-style-type : none; 
	display         : block;
	float           : left;
	width           : 200px;
	border          : 1px solid #eee;
	margin-right    : 8px;
	margin-bottom      : 8px;
}
ul.accessgroups li label{
	padding : 8px;
}
ul.accessgroups li label input[type=checkbox]{
	margin-left  : 2px;
	margin-right : 4px;
}