div.input-append,
div.input-prepend {
	margin-bottom: 3px;
}
#mainPage .add-on {
	font-size:12px;
	width: 150px;
	margin: 0px;
}
#mainPage input[type=text] {
	width: 350px;
	font-size:12px;
	height:28px;
	padding: 0px 6px;
}
#mainPage select {
	width: 364px;
	font-size:12px;
	height:30px;
	padding: 0px 6px;
}
input[type=checkbox] {
	margin-top:9px;
	width:36px;
}
span.m_divider {
	border-left:2px dotted #c6c6c6;
	margin-left:4px;
	margin-right:4px;
	margin-top:4px;"
}
#lib-btn {
	margin-top:3px;
}
.brand img {
	width:24px;
	height:24px;
	margin-top:-6px;
	border:none;
}
#headerTable {
	border:none;
	width:100%;
	height:80%;
}
body {
	padding:0px;
	margin:0px;
}
#saveBtn {
	margin-right:4px;
	float:right;
}
#YMapsID {
	width:100%;
	height:650px;
	margin:0px;
	border:1px solid #c6c6c6;
}

body.altEditor .leftColumn {
	width:280px;
	background-color: #eee;
	vertical-align:top;
	padding-top:5px;
	padding-left:10px;
	padding-right:15px;
	border:1px solid #bbb;
}

body.altEditor .rightColumn {
	vertical-align : top;
	padding:0px;
}

body.altEditor .editorTable {
	width: 100%;
	height:581px;
}


body.altEditor #YMapsID {
	width:100%;
	height:500px;
	border:1px solid #c6c6c6;
	margin-left:-2px;
}

body.altEditor .pointcoord {
	width: 260px;
	margin:0px;
}

body.altEditor .typeControl {
	margin-bottom: 15px;
}

body.altEditor .nav {
	margin-bottom: 0px;
}

body.altEditor .nav li {
	width: 110px;
}

body.altEditor .nav {
	margin-bottom: 0px;
}

body.altEditor .propPage fieldset {
	width:550px;
}

body.altEditor .typeControl select {
	width: 210px;
}

#l_name,
#l_addr,
#l_cont {
	width: 205px;
}

body.altEditor #saveBtn {
	margin:0px;
	float:none;
}


.right-controls {
	width:270px;
}
#mainPage,
#propPage {
	height:315px;
	overflow:auto;
	padding-left:5px;
	padding-right:5px;
}
#propPage {
	display:none;
}
.pageButtons {
	padding: 0px 5px;
	margin:0px;
	height:25px;
}
button.displayMain,
button.displayPage {
	height:30px;
	width:20px;
}
#updDataBtn {
	float: right;
	margin-right:10px;
	margin-left:20px;
}
#closeBalloonBtn {
	float:right;
}
.balloonHeader {
	margin-bottom:10px;
	margin-left:10px;
}
#propPage label {
	font-size:12px;
	line-height:16px;
	margin-bottom:2px;
	cursor:pointer;
	width:49%;
	display:block;
	float:left;
}

.altEditorHeader {
	margin-left: 25px;
}

.altEditorHeader .btn-group {
	margin-right: 25px;
}

#propPage label input[type=checkbox] {
	margin-top: -4px;
}
legend {
	margin:2px;
	line-height:28px;
	font-size:14px;
	font-weight:bold;
}
textarea {
	width:520px;
}
.typefetcher {
	cursor:pointer;
	margin-left:4px;
}
div.console {
	position:absolute;
	top:150px;
	left:50px;
	width:300px;
	height:700px;
	background-color:#ffffff;
	z-index: 100000;
	display: none;
}
.langMark {
	width:32px;
	height:32px;
	border:0px;
	margin-top:8px;
	cursor:pointer;
}
#propPageContent{
	margin-top:-15px;
}

div.shedule{
	padding-left:15px;
	padding-top: 10px;
}

#sheduleTable {

}

#sheduleTable .lc{
	width:110px;
}

#sheduleTable th{
	vertical-align:middle;
}

#sheduleTable input[type=text]{
	width:40px;
	margin-left:4px;
	margin-right:4px;
	margin-top:2px;
	margin-bottom:2px;

}

#h24 {
	margin-top: -2px;
}
.imageGallery{
	height:80px;
	overflow:auto;
}

.imageGallery {
	list-style-type: none;
	margin:0px;
	width:260px;
}

.imageGallery li{
	float:  left;
	clear:  none;
	border: 2px solid #FFFFFF;
	margin:2px;
	cursor:pointer;
}

#dropZone {
	color: #555;
	font-size: 18px;
	text-align: center;

	width: 400px;
	padding: 50px 0;
	margin: 50px auto;

	background: #eee;
	border: 1px solid #ccc;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#dropZone.hover {
	background: #ddd;
	border-color: #aaa;
}

#dropZone.error {
	background: #faa;
	border-color: #f00;
}

#dropZone.drop {
	background: #afa;
	border-color: #0f0;
}

